# Dependencias
node_modules/

# Build
dist/

# Entorno
.env
.env.local
.env*.local

# Editor
.vscode/
.idea/

# System
.DS_Store

Part*/*

# EXCEPTO los archivos de ejercicios
!Part*/Exercise*
!Part*/exercise*

# Si tienes carpetas de ejercicios también
!Part*/Exercise*/
!Part*/Exercise*/**
!Part*/exercise*/
!Part*/exercise*/**